<h1>Добавить товар:</h1>
<%=form_for @good, :html => {:multipart => true}   do |f|  %>
 
  <div class="field">
    <%= f.label :Добавить_изображение %><br />
    <%= f.file_field :photo, class: "form-control-file"%>
  </div>

  <div class="field">
    <%= f.label :Выберите_категорию_товара %><br />
    <%= select_tag(:good_categories_id, options_for_select(@category_good), :prompt => "Выберите категорию товара") %>
  </div>

  <div class="field">
    <%= f.label :Название_товара %><br />
    <%= f.text_field :name, class: "form-control", :required => true  %>
  </div>
  
  <div class="field">
    <%= f.label :Количество %><br />
    <%= f.number_field :quantity, class: "form-control", :required => true %>
  </div>

  <div class="field">
    <%= f.label :Цена_за_штуку %><br />
    <%= f.number_field :price, class: "form-control", :required => true %>
  </div>

  <div class="field">
    <%= f.label :Артикул %><br />
    <%= f.text_field :articul, class: "form-control", :required => true %>
  </div>

  <div class="field">
    <%= f.label :Короткое_описание %><br />
    <%= f.text_area :short_description, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :Полное_описание %><br />
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="actions">
    <br />
    <%= f.submit "Добавить", class:"btn btn-primary" %>
  </div>
<% end %>