<div class ="row" >
  <div class ="col-xl-6 col-md-6 col-sm-12 ">
	<%= image_tag @good.photo.url(:show), class: "img-fluid"%>
  </div>
  <div class ="col-xl-6 col-md-6 col-sm-12" style="display: flex;
  flex-direction: column;
  justify-content: space-between;">
	<div align="center" class="h2"><%= @good.name %>
		<div align="left" class="h6"><%=@good.short_description%>&nbsp
	  <a href="#" class="without-decoration">Перейти к полному описанию</a>
	</div>
	</div>
	<div align="left" class="h5">
	  Артикул:&nbsp <%=@good.articul %>
	</div>
	<div class="row">
		<% if @good.quantity > 0 %>
		<div class="col-5 h1 text-warning">
		  <%=@good.price %> руб.
		</div>
		<div class="col-6">
		  <a href="#" class="btn btn-info btn-lg">
        Добавить в корзину
      </a>
		</div>
  </div>
  <div class="row align-items-center">
  	<div class="col-3 h3">
	    Кол-во:
	  </div>
	  <div class="col-3">  
	    <input class="form-control-lg" type="number" min="1" max="<%= @good.quantity %>" step="1" value="1" />
	  </div>
	  <div class="col-6 h3">
      <span class="badge badge-info">Есть в наличии&nbsp
		    <span class="badge badge-light"><%= @good.quantity %></span>
		  </span>
	  </div> 
	  </div>
		<% else %>
		  <span class="badge badge-danger">Нет в наличии <span class="badge badge-light">@good.quantity</span></span>
		<% end %>
  </div>
</div>
<hr>
<div align="justify">
	<div class="h2" align="left">Описание:</div>
	<div class="h5"><%= @good.description %></div>
</div>